@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e6e2e3;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* everyting in the @layer base is my custom preset */
/* 1. customize input field */
@layer base {
  input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer utilities {
  /* Main parallelogram container */
  .clip-parallelogram {
    clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 20% 100%);
    position: relative;
    overflow: hidden;
  }
}
